@charset "UTF-8";

/*

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px

*/

/** 
    Colors:
    #384001
    #565902
    #A64F3C
    #A61103
    #260101
**/

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html,
body {
    background-color: #260101;
    height: 100vh;
}

section#login {
    background-color: white;
    height: 500px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

div#img {
    background: black url(../img/pexels-harrison-haines-18853155.jpg);
    height: 30vh;
    background-size: cover;
    display: block;
}

#formul {
    display: block;
    padding: 10px;
}

form#datas {}

form#datas p {
    margin: 15px;
    background-color: #260101;
    padding: 10px;
}

input[type=submit] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #A64F3C;
    color: white;
    border: 1px solid #A61103;
}

input[type=submit]:hover {
    background-color: #592b20;
}

.botao {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #A64F3C;
    background-color: white;
    text-align: center;
    border: 1px solid #A61103;
    margin-top: 5px;
}

.botao:hover {
    background-color: #eb7156dc;
    color: white;
}

.botao span {
    font-size: .8em;
}

form div.campo {
    width: 100%;
    background-color: #5e0404;
    padding: 4px;
    margin: 5px;
    border-radius: 5px;
    margin: 5px auto;
}

form div.campo input {
    background-color: #e49583;
    padding: 10px;
    border-radius: 5px;
    width: 243px;
    border: 0;

}

form div.campo input:hover {
    background-color: #b77566;
}

form div.campo span {
    color: white;
    font-size: 1.5em;
}

h1 {
    text-align: center;
    width: 100%;
}

p {
    font-size: .8em;
    margin: 5px;
}