@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login{
        width: 70vw;
        height: 50vh;

    }
    div#img{
        float: left;
        padding: 50px;
        width: 30%;
        height: 100%;
        background-position: center bottom;
    }
    div#formul{
        float: right;
        width: 70%;
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-image: -moz-linear-gradient(bottom #F7110F, #260101);
    }
    section#login{
        width: 70vw;
        height: 60vh;
    }
    div#img{
        float: right;
        width: 35%;
        height: 70vh;
        background-position: top left;
    }
    div#formul{
        float: right;
        text-align: center;
        width: 65%;
    }

}
